// No margin or padding on type styles
// No text alignment: should be set on component and inherited by type or using a utility class. leave left as default
// Do not override type styles inside parent selector

//
// HEADING STYLES
//
@mixin type-heading--xl {
	font-family: $mon;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 1.17;
	letter-spacing: -0.33px;
	color: $dark;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-heading--lg {
	font-family: $mon;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 1.15;
	letter-spacing: -0.015em;
	color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-heading--md {
	font-family: $mon;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 1em;
	letter-spacing: 0.01em;
	color: $dark;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-heading--sm {
	font-family: $mon;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.3px;
	color: $dark;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-heading--xs {
	font-family: $mon;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	letter-spacing: 0.03em;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-heading--xxs {
	font-family: $mon;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0;
	color: $dark;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-heading--filter {
  font-family: $mon;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0;
  color: $dark;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading--lg {
  @include type-heading--lg;
}

.heading--md {
  @include type-heading--md;
}

.heading--sm {
  @include type-heading--sm;
}

.heading--xs {
  @include type-heading--xs;
}

.heading--xxs {
  @include type-heading--xxs;
}

//
// BODY COPY
//
@mixin type-body--tiny {
	font-family: $mon;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 1.3;
	letter-spacing: 0;
	color: $dark;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-body--xsmall {
	font-family: $mon;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.875;
	letter-spacing: 0;
	color: $dark;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-body--small {
	font-family: $mon;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.875;
	letter-spacing: 0;
	color: $dark;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-body--regular {
	font-family: $mon;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.875;
	letter-spacing: 0;
	color: $dark;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin type-body--intro {
	font-family: $mon;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0;
	color: $white;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.body--tiny {
  @include type-body--tiny;
}

.body--xsmall {
  @include type-body--xsmall;
}

.body--small {
  @include type-body--small;
}

.body--regular {
  @include type-body--regular;
}

.body--intro {
	@include type-body--intro;
}

.body--small,
.body--regular {
  strong {
    font-weight: 600;
  }
  a { position: relative; }
	a:hover::after {
	    opacity: 1;
	    background-color: $red;
	}
	a::after {
	    content: '';
	    width: 100%;
	    height: 1px;
	    background-color: $charcoal;
	    border-radius: 2px;
	    position: absolute;
	    bottom: -2px;
	    left: 0;
	    opacity: 1;
	    transition: all 0.2s cubic-bezier(0.42, 0, 0.33, 1.52);
	}

}

.body--xsmall {
	a { transition: all .25s ease-in-out;}
	a:hover { color: $red; }
}

.caps {
	text-transform: uppercase;
}

sup {
  font-size: 60%;
  vertical-align: baseline;
  line-height: 0;
  position: relative;
  top: -0.8em;
}